body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(240, 234, 226);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
   
}
.red{
    color: red;
}
.center {
    text-align: center;
}
button {
    text-align: center;
    font-size: 12px;
    color: white;
    background-color: rgb(159, 157, 156);
    border: 3px solid white;
    border-radius: 5px;
    
    padding: 0.5rem 1rem;
    background-color: rgb(176, 197, 197);
    box-shadow: 0px 0px 1px 1px rgb(121, 115, 115);

    
}
button:hover {
    cursor: pointer;
    background-color: rgb(124, 143, 143);
    box-shadow: 1px 1px 3px black;
}